.sliderButton{
    font-size: 12px !important;
}
.sliderButtonWhite{
    background-color: var(--main-white) !important;
    color: var(--main-light-blue) !important;
}
.sliderButtonBlue{
    background-color: var(--main-light-blue) !important;
    color: var(--main-white) !important;
}