.resultContainer {
    padding: 100px 0;
    background-color: var(--main-white-gray);
}

.headText {
    color: var(--main-light-blue);
    font-family: 'Roboto-Bold' , serif;
    font-size: 14px;
}

.descriptionText {
    font-family: 'Roboto-Bold' , serif;
    font-size: 38px;
}