.cards {
    margin-top: 170px;
}
.doctorsImage {
    width: 210px;
    height: 210px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    border: 10px solid var(--color-cards);
    margin-top: -127px;
}
.card-title-h5 {
    font-size: 20px;
    font-family: 'Roboto-Bold' , serif !important;
}
.card-subtitle-h6 {
    font-family: 'Roboto-Medium' , serif;
    color: var(--main-light-blue) !important;
    letter-spacing: 2px;
}
.icon-first {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-light-blue);
    color: white;
}
.icon-first i {
    margin-top: 9px;
    font-size: 20px;
}
.card-text {
    color: var(--main-medium-gray);
    font-family: 'Roboto-Regular' , serif;
    line-height: 26px;
}