.cardCarouselSection{
    background-color: var(--color-cards);
    padding: 105px 0;
}
.headingText{
    font-size: 14px;
    font-family: 'Roboto-Medium' , sans-serif;
    color: var(--main-light-blue);
}
.descriptionText{
    font-size: 38px;
    font-family: 'Roboto-Bold' , sans-serif;
}