.topFooter {
    background-size: cover;
    object-fit: cover;
    background: rgba(0 158 178 / 90%) url("public/images/carousel-image1.webp") no-repeat center;
    background-blend-mode: soft-light;
    padding:120px 0;
}
.recentPostText{
    font-size: 18px;
    font-family: 'Roboto-Medium' , sans-serif;
}