.leftSectionBackground {
    background-color: var(--main-light-blue);
}
.buttonDesign {
    font-family: 'Roboto-Medium' , serif !important;
    font-size: 12px !important;
    color: var(--main-light-blue) !important;
}