.blogImage{
    width: 50px !important;
    height: 50px;
    background-size:cover;
    background-position: center;
    object-fit: cover;
}
.listItems{
    font-size: 12px;
    color:white !important;
}
.textBlog{
    font-size: 16px;
    color:white;
    font-family: 'Roboto-Medium' , sans-serif;
}