.cardServices{
    padding: 25px 18px;
    transition: all 0.3s;
}
.cardServices:hover{
    background-color: var(--main-light-blue) !important;
    cursor: pointer;
}
.cardServices:hover .iconSection{
    background-color: white;
}
.cardServices:hover .iconStyle{
    color: var(--main-light-blue);
}
.cardServices:hover .cardHeading , .cardServices:hover .cardDescription{
    color: white !important;
}
.iconSection {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    background-color: var(--main-light-blue);
    color: var(--main-black);
}
.iconStyle {
    font-size: 60px;
    margin-top: 22px;
    color: var(--main-white);
}
.cardHeading {
    font-size: 20px;
    font-family: 'Roboto-Bold' , serif;
    margin-bottom: 10px;
}
.cardDescription{
    font-family: 'Roboto-Regular' , serif;
}