@font-face {
    font-family: 'Roboto-Black';
    src: url('public/fonts/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold' ;
    src: url('public/fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light' ;
    src: url('public/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium' ;
    src: url('public/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular' ;
    src: url('public/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Thin' ;
    src: url('public/fonts/Roboto-Thin.ttf') format('truetype');
}