.headText {
    font-size: 14px;
    font-family: 'Roboto-Bold' , serif;
}
.descriptionText {
    font-size: 40px;
    color: var(--main-light-blue);
    font-family: 'Roboto-Bold' , serif;
}
.buttonCard{
    font-family: 'Roboto-Medium' , serif;
    font-size: 13px;
    color: white;
}