.buttonAd {
    background-color: var(--main-white) !important;
    color: var(--main-light-blue) !important;
    font-size: 13px !important;
    font-family: 'Roboto-Medium', serif;
}

.buttonAd:hover {
    background-color: var(--main-white);
    color: var(--main-light-blue);
}