.servicesSection {
    background-color: var(--color-cards);
}
.align {
    padding: 110px 0 110px 0;
}
.shortText {
    color: var(--main-light-blue);
    font-size: 14px !important;
    font-family: 'Roboto-Medium',serif !important;
}
.heading {
    color: var(--main-black);
    font-size: 38px;
    font-family: 'Roboto-Bold',serif !important;
}