.blogContainer {
/*    padding: 35px 0;*/
    background-color: #efefef;
    padding: 150px 0;
}

.headText{
    font-family: 'Roboto-Medium' , serif;
    font-size: 14px;
    color: var(--main-light-blue);
}

.descriptionText{
    font-family: 'Roboto-Bold' , serif;
    font-size: 38px;
}