.cardIcon {
    font-size: 3.4rem;
    color: var(--main-light-blue);
}
.cardStyle {
    transition: all 0.4s;
    border-radius: 5px;
}

.cardStyle:hover {
    background-color: var(--main-light-blue) !important;
    cursor: pointer;
}
.cardStyle:hover .cardHeading ,
.cardStyle:hover .cardDescription ,
.cardStyle:hover .cardIcon {
    color: white !important;
}

.cardHeading {
    font-size: 20px;
    font-family: 'Roboto-Medium' , serif !important;
}

.cardDescription {
    font-family: 'Roboto-Regular' , serif !important;
    color: var(--main-medium-gray);
}
