.headText {
    font-size: 13px;
    color: var(--main-light-gray);
    font-family: 'Roboto-Medium', serif;
    letter-spacing: 3px;
}

.descriptionText {
    font-size: 30px;
    font-family: 'Roboto-Bold', serif;
    color: var(--main-light-gray);
}