.labelStyle {
    font-size: 12px;
    font-family: 'Roboto-Medium' , serif !important;
}
.placeholderStyle {
    color: var(--main-white-gray) !important;
    font-family: 'Roboto-Medium' , serif !important;
    font-size: 15px;
    text-transform: capitalize;
}
.optionsDesign {
    color: black !important;
}